body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5, h6{
  overflow-wrap: anywhere;
  margin: 20px;
}

input, textarea{
  height: 40px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}

input[type=file] {
  display: none;
}

.fileUpload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 90%;
  max-width: 300px;
}

button{
  background-color:  black;
  color:  white;
  border: none;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* background-color: #B99470; */
  /* color: #FEFAE0; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 90%;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px; 
}

.header button{
  /* background-color:  white;
  color:  black;
  border-color: black; */
}

.headerH1{
  margin: 0px;
  margin-left: 20px;
}


.flexCenter{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.ingredientInput{
  width: 25%;
  margin: 5px;
}

.ingredientSlide{
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.instructionInput{
  width: 50%;
  margin: 5px;
}

.notesInput{
  width: 25%;
  margin: 5px;
}

.instructionSlide{
  display: flex;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  justify-content: space-around;
  justify-items: space-around;
  align-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.deleteButton{
  width: 30px;
  margin: 5px;
}

.squareSlide{
  display: flex;
  flex-direction: column;
  /* background-color: rgb(57, 133, 100); */
  width: 30%;
  max-width: 300px;
  height: fit-content;
  min-height: 200px;
  margin: 10px;
  border-radius: 5px;
  padding: 30px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  /* color: white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-wrap:anywhere;
}


th, td{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* border: 1px solid gray; */
  /* background-color: rgb(219, 240, 233); */
  /* background-color: rgb(57, 133, 100);
  color: white; */
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 5px;
}


table{
  margin: auto;
  border-spacing: 20px;
}

.item .dragHandle {
  visibility: hidden;
  cursor: move;
  width: 20px;
  height: 16px;
  background: url('grippy.png') 30% 50% no-repeat no-repeat;
}

.item:hover .dragHandle, .item.dragged .dragHandle {
  visibility: visible;
}

.bigSlideOutline{
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  border: 0.01px solid gray;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  /* background-color: rgb(245, 245, 245); */
  /* background-color: rgb(57, 133, 100);
  color: white; */
  
}

.filterButton{
  position: absolute;
  top: 25%;
  right: 4%;
}

.smallSlide{
  /* background-color: rgb(57, 133, 100);
  color: white; */
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.unactiveTab{
  /* background-color: rgb(57, 133, 100); */
  /* color: white; */
  /* border-bottom: 2px solid rgb(57, 133, 100); */
  border-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px;
  margin-right: 10%;
  margin-left: 10%;
  width: 10%;
  min-width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activeTab{
  /* background-color: rgb(82, 191, 144);
  color: white; */
  /* border-bottom: 2px solid rgb(82, 191, 144); */
  border-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px;
  margin-right: 10%;
  margin-left: 10%;
  width: 10%;
  min-width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown{
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
}

.videoPreview{
  height: 300px;
}


/* styles for dark mode */

.dark{
  background-color: black;
  color: white;
  height: 100%;
  min-height: 100vh;
  width:100%;
  /* position: fixed; */
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;



  .header{
    color: white;
    margin: auto;
    background-color: black;
    border: 1px solid rgb(57, 133, 100);
  }

  button{
    color: white;
    background-color: black;
    box-shadow: none;
    border: 1px solid rgb(57, 133, 100);
  }

  .dropdown{
    color: black
  }

  .squareSlide, .smallSlide, .smallSlideDark, .ingredientSlide, .instructionSlide, .bigSlideOutline, th, td{
    background-color: black;
    border: 1px solid rgb(57, 133, 100);
  }

  .activeTab{
    background-color: rgb(184, 218, 203);
    color: black
  }

  .item .dragHandle
  {
    background: url('grippyWhite.png') 30% 50% no-repeat no-repeat;

  }
}

.smallSlideDark{
  background-color: black;
  border: 1px solid rgb(57, 133, 100);
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  color: white;
}

.smallSlideDark button{
  background-color: black;
  border: 1px solid rgb(57, 133, 100);
}





